*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.inactive-link {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.second-level-heading {
  font-size: 30px;
  color: #32425c;
  line-height: 30px;
  font-weight: normal;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centered-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #EE3643;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
}

.button:hover,
.button:focus {
  background: #CA2C37;
}

.button:active {
  background: #BA2732;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.top-navigation-wrapper {
  background-color: #293449;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  height: 42px;
}

.navigation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background: #EE3643;
  box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.top-navigation .navigation-logo {
  height: 47px;
}

.navigation-logo:hover {
  background-color: #ca2c37;
}

.navigation-logo:active {
  background-color: #ba2732;
}

.search-form {
  position: relative;
  width: 270px;
}

.search-form .input-search {
  width: 100%;
  height: 42px;
  border: none;
  background: #293449;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 48px;
  font-size: 17px;
  color: #000000;
  line-height: 18px;
  background-image: url(../img/svg/icon-search.svg);
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.search-form .input-search::placeholder {
  color: #FFFFFF;
}

.search-form .input-search:hover {
  background-color: #212a3a;
}

.search-form .input-search:focus,
.search-form .input-search:active {
  background-color: #ffffff;
  background-image: url(../img/svg/icon-search-red.svg);
  background-repeat: no-repeat;
  background-position: 16px 12px;
}

.bookmarks-navigation {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.bookmarks-navigation .bookmarks-item {
  position: relative;
  width: 150px;
  display: inline-block;
  vertical-align: middle;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
}

.bookmarks-navigation .button-checkout {
  background-color: #63a63e;
  color: #FFFFFF;
}

.button-bookmark,
.button-cart {
  padding-left: 18px;
}

.button-bookmark::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;
  width: 14px;
  height: 16px;
  background-image: url(../img/svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.button-cart::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.button-bookmark:hover,
.button-cart:hover {
  cursor: pointer;
  background-color: #212a3a;
  opacity: 1;
}

.button-bookmark:active,
.button-cart:active {
  cursor: pointer;
  background: #161d29;
  opacity: 0.5;
}

.cart-not-empty {
  background-color: #EE3643;
}

.button-checkout:hover {
  background: #5FBB2D;
}

.button-checkout:active {
  background: #518534;
  opacity: 0.5;
}

.user-navigation-wrapper {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.user-navigation {
  display: flex;
  flex-direction: column;
}

.user-coordinates {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  padding-bottom: 34px;
}

.navigation-item {
  position: relative;
  width: 300px;
}

.first-level-heading {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  color: #EE3643;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
}

.store-phone .header-phone {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  background: #F3F7F9;
  border: 3px solid #FFFFFF;
  font-size: 21px;
  color: #EE3643;
  line-height: 21px;
}

.header-phone::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.store-phone p {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 24px;
  margin-top: 3px;
  margin-bottom: 0;
  margin-left: 10px;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.button-user-item {
  display: inline-block;
  vertical-align: middle;
  background: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  text-align: center;
  color: #000000;
  line-height: 21px;
}

.user-buttons .button-login {
  position: relative;
  width: 120px;
  margin-left: 20px;
  padding-left: 20px;
}

.user-buttons .button-registry {
  width: 150px;
}

.button-login::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 13px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-login-blue.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.button-login:hover::before,
.user-name:hover::before,
.user-name:hover::after {
  opacity: 1;
}

.button-login:active::before,
.user-name:active::before,
.user-name:active::after {
  opacity: 0.3;
}

.button-user-item:hover,
.user-account a:hover {
  color: #ee3643;
}

.button-user-item:active,
.user-name:active,
.user-account a:active {
  color: rgb(0,0,0, 0.3);
}

.user-menu {
  background: #32425C;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.user-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.user-menu .user-menu-item {
  display: inline-block;
  vertical-align: middle;
  padding-top: 21px;
  padding-bottom: 21px;
  padding-right: 31px;
  padding-left: 30px;
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

li:first-child .user-menu-item {
  padding-left: 50px;
}

li:last-child .user-menu-item {
  padding-left: 32px;
}

.user-menu-item:hover {
  background-color: #293449;
}

.user-menu-item:active {
  background: #1d2739;
  opacity: 0.3;
}

.content-navigation {
  margin-top: 60px;
  margin-bottom: 65px;
}

.our-advantages {
  margin-bottom: 33px;
}

.advantages-row {
  display: flex;
  justify-content: space-between;
}

.advantages-slider {
  width: 620px;
  max-height: 266px;
  position: relative;
  background-color: #eeeeee;
}

.advantage-arrows {
  position: relative;
}

.arrow {
  border: none;
  background: none;
  position: absolute;
  top: 115px;
  border-right: 2px solid #ffffff;
  border-bottom: 2px solid #ffffff;
  width: 32px;
  height: 32px;
}

.arrow-left {
  left: 30px;
  transform: rotate(-225deg);
}

.arrow-right {
  right: 25px;
  transform: rotate(-45deg);
}

.arrow:hover,
.arrow:focus,
.arrow:active {
  outline: none;
  cursor: pointer;
}

.advantages-services {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  position: relative;
  width: 300px;
  padding-top: 21px;
  padding-left: 25px;
  min-height: 123px;
  margin-bottom: 20px;
}

.sticker-new::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 60px;
  height: 59px;
  background-image: url(../img/logo-new-product.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item .advantages-title {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  margin-bottom: 12px;
}

.advantages-item .button-advantages {
  display: inline-block;
  vertical-align: middle;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  opacity: 0.1;
  background: #000000;
}

.button-advantages:hover {
  opacity: 0.2;
  background: #000000;
}

.button-advantages:active {
  opacity: 0.3;
  background: #000000;
}

.advantages-materials {
  background-color: #ffbf47;
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 83% 53%;
}

.advantages-tool {
  background-color: #3bbce3;
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 87% 54%;
}

.advantages-technics {
  background-color: #dc91d8;
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.advantages-discounts {
  background-color: #8ed78f;
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 80% 47%;
}

.advantages-delivery {
  background-color: #ffbf47;
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.popular-item-section {
  display: flex;
  justify-content: space-between;
  background: #f9f5f0;
  padding-top: 28px;
  padding-right: 25px;
  padding-bottom: 22px;
  padding-left: 30px;
}

.advantage-slider-controls {
  position: absolute;
  left: 49%;
  bottom: 35px;
  z-index: 100;
  width: 100px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.advantage-slider-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  padding: 8px;
  border-radius: 50%;
  cursor: pointer;
}

.advantage-slider-controls label::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 10px;
  height: 10px;
  background: #ffffff;
  border-radius: 50%;
}

.advantage-slider-item {
  display: none;
  padding-top: 25px;
  padding-left: 25px;
  min-height: 266px;
}

.advantage-slider-item:nth-child(1) {
  background-image: url(../img/slider-item-02.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

.advantage-slider-item:nth-child(2) {
  background-image: url(../img/slider-item-01.jpg);
  background-repeat: no-repeat;
  background-position: 100% 0px;
}

#advantage-1:checked ~ .advantage-slider-list .advantage-slider-item:nth-child(1) {
  display: block;
}

#advantage-2:checked ~ .advantage-slider-list .advantage-slider-item:nth-child(2) {
  display: block;
}

#advantage-1:checked ~ .advantage-slider-controls .advantage-controls-item--1::before,
#advantage-2:checked ~ .advantage-slider-controls .advantage-controls-item--2::before {
  content: '';
  position: absolute;
  left: 64%;
  top: 65%;
  z-index: 2;
  width: 6px;
  height: 6px;
  background: red;
  border-radius: 50%;
}

.advantage-slider-item h3 {
  max-width: 380px;
  margin-top: 0;
  margin-bottom: 0px;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 36px;
  text-transform: uppercase;
}

.advantage-slider-item p {
  max-width: 430px;
  margin: 0;
  margin-bottom: 10px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  line-height: 24px;
}



.advantage-slider-item .button {
  position: absolute;
  width: 195px;
  bottom: 20px;
}

.popular-item-section .second-level-heading {
  padding: 0;
  margin: 0;
}

.button-popular {
  width: 250px;
}

.popular-products-row {
  margin-top: 20px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 220px;
  margin-bottom: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.sticker-new-product::before {
  content: '';
  position: absolute;
  top: 0px;
  right: 0;
  width: 60px;
  height: 59px;
  background-image: url(../img/logo-new-product.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 88px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(255,255,255);
  z-index: 10;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-right: 0;
  padding-left: 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: #ffffff;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.actions .buy:hover {
  background: #5FBB2D;
  border-color: #5FBB2D;
  border-bottom-color: #367315;
}

.actions .buy:active {
  background: #518534;
  border-color: #518534;
}

.actions .bookmark:hover {
  border: 3px solid #32425C;
}

.actions .bookmark:active {
  opacity: 0.3;
  border: 3px solid #32425C;
}

.actions .bookmark {
  color: #32425c;
  background: #ffffff;
  border-bottom-color: #63a63e;
}

.product-item .actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.product-item:hover .image {
  opacity: 0;
}

.product-item:hover {
  background: #FFFFFF;
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.product-item .image {
  width: 218px;
  height: 168px;
}

.product-item .image img {
  max-width: 100%;
}

.product-item .title {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
  text-transform: capitalize;
  min-height: 40px;
  padding: 0;
  margin-bottom: 0px;
  margin-top: 12px;
}

.product-item .discount {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: bold;
  font-size: 17px;
  line-height: 18px;
  color: #a9a9a9;
  text-decoration: line-through;
  margin-top: 10px;
  margin-bottom: 0px;
}

.product-item .price {
  position: relative;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background: #ee3643;
  border-radius: 3px;
  margin-top: 8px;
  margin-bottom: 18px;
  padding-top: 10px;
  padding-right: 30px;
  padding-bottom: 12px;
  padding-left: 39px;
}

.product-item .price:after {
  content: '';
  position: absolute;
  top: 0;
  right: -26px;
  width: 0;
  height: 0;
  border: 20px solid #ffffff;
  border-left-color: #ee3643;
}

.product-item .title + .price {
  margin-top: 40px;
}

.manufacturers-list {
  margin-top: 22px;
}

.manufacturers-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufacturer-item {
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
  cursor: pointer;
}

.manufacturer-item img {
  max-width: 100%;
}

.manufacturer-item:hover,
.manufacturer-item:active {
  box-shadow: 0 10px 25px 0 rgba(41,52,73,0.50);
}

.manufacturer-item:active img {
  opacity: 0.3;
}

.services-navigation-wrapper {
  background-color: #f4f8f9;
  padding-top: 40px;
}

.our-services-intro .second-level-heading {
  margin-bottom: 28px;
}

.our-services-intro p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.our-services-tabs {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  max-height: 352px;
}

.our-services-tabs .tabs-menu {
  width: 240px;
  position: relative;
}

ul.tabs-menu::before {
  content: '';
  position: absolute;
  top: -40px;
  right: 0px;
  width: 10px;
  height: 279px;
  background-image: url(../img/our-services-shadow.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.our-services-tabs .tabs-content {
  width: 620px;
}

.tabs-menu label {
  display: block;
  width: 100%;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  line-height: 30px;
  padding-top: 13px;
  padding-left: 22px;
  padding-bottom: 18px;
  background: #32425C;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  cursor: pointer;
}

.tabs-menu label:hover {
  background: #293449;
}

.tab-content-title {
  max-width: 380px;
  font-size: 36px;
  color: #32425c;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}

.tab-button {
  display: inline-block;
  vertical-align: middle;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.tab-content-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  max-width: 385px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.tab-content-item {
  display: none;
  height: 282px;
  background-color: #f4f8f9;
  overflow: hidden;
}

.tab-content-item:nth-child(1) {
  background-image: url(../img/our-services-01-delivery.png);
  background-repeat: no-repeat;
  background-position: 151px 21px;
}

.tab-content-item:nth-child(2) {
  background-image: url(../img/our-services-02-guarantee.png);
  background-repeat: no-repeat;
  background-position: 230px 0px;
}

.tab-content-item:nth-child(3) {
  background-image: url(../img/our-services-03-loan.png);
  background-repeat: no-repeat;
  background-position: 155px 0px;
}

.button-tab {
  width: 195px;
  margin-top: 30px;
}

#service-1:checked ~ .tabs-content .tab-content-item:nth-child(1) {
  display: block;
}

#service-2:checked ~ .tabs-content .tab-content-item:nth-child(2) {
  display: block;
}

#service-3:checked ~ .tabs-content .tab-content-item:nth-child(3) {
  display: block;
}

#service-1:checked ~ .tabs-menu .slider-service-item--1,
#service-2:checked ~ .tabs-menu .slider-service-item--2,
#service-3:checked ~ .tabs-menu .slider-service-item--3 {
  background: #ffffff;
  color: #32425C;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

.company-info {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-height: 398px;
  margin-top: 55px;
  margin-bottom: 85px;
}

.company-info .company-about {
  width: 560px;
}

.company-info .company-contacts {
  width: 300px;
}

.company-contacts h2 + p {
  margin: 0;
}

.button-write-us,
.button-company {
  position: absolute;
  bottom: 0;
}

.button-write-us {
  width: 300px;
}

.button-company {
  width: 220px;
}

.company-info .second-level-heading {
  color: #000000;
  margin-bottom: 30px;
}

.company-features  {
  position: relative;
  margin-left: 20px;
}

.company-info p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.company-features li {
  position: relative;
  font-size: 18px;
  color: #000000;
  line-height: 20px;
  margin-bottom: 20px;
  margin-left: 15px;
}

.company-features li::before {
  content: '';
  position: absolute;
  top: 7px;
  left: -35px;
  width: 25px;
  height: 2px;
  background: #ee3643;
}

.company-map {
  margin-top: 30px;
}

.company-map:hover {
  cursor: pointer;
}

.footer-navigation-wrapper {
  background-color: #32425c;
  padding-bottom: 48px;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
}

.footer-first-row .navigation-logo {
  height: 68px;
}

.footer-menu {
  width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer-navigation .footer-menu-item {
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  line-height: 24px;
}

.footer-first-row .footer-menu-item {
  color: #F1F5F7;
  padding-top: 34px;
  padding-right: 59px;
}

li:last-child .footer-menu-item {
  padding-right: 0;
}

.footer-second-row .footer-menu-item  {
  padding-right: 36px;
  padding-left: 24px;
  color: #FFD180;
}

.footer-address {
  width: 380px;
}

.footer-phone,
.footer-coordinates {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #F3F7F9;
}

.footer-coordinates {
  margin-top: 28px;
  margin-bottom: 0;
}

.footer-menu-item:hover {
  text-decoration: underline;
}

.footer-menu-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-social-wrapper {
  background-color: #293449;
  padding-top: 20px;
  padding-bottom: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social p,
.footer-social a {
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
}

.footer-social a {
  color: #ffd180;
}

.footer-copyright {
  width: 230px;
}

.footer-social-links {
  width: 150px;
  margin-left: 40px;
  text-align: center;
}

.footer-social-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 140px;
  margin: 0 auto;
}

.social-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212A3A;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-feedback {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-feedback p:first-child {
  width: 150px;
}

.footer-feedback p:last-child {
  width: 115px;
}

.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

.user-name {
  font-family: 'Cuprum', 'Arial', sans-serif;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 20px;
  font-size: 21px;
  color: #000000;
  line-height: 21px;
  background-color: #ffffff;
}

.user-name::before {
  content: '';
  position: absolute;
  top: 14px;
  left: 14px;
  width: 20px;
  height: 18px;
  background-image: url(../img/svg/icon-user-blue.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-name::after {
  content: '';
  position: absolute;
  top: 14px;
  right: 11px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-logout-blue.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.3;
}

.user-account {
  position: absolute;
  font-size: 0;
  padding-top: 8px;
}

.user-account a {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  color: #32425C;
  line-height: 18px;
  text-decoration: underline;
  margin-left: 18px;
}

.user-account a:last-child {
  margin-left: 33px;
}

.user-account a:first-child::after {
  content: '';
  position: absolute;
  top: 15px;
  left: 106px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: #32425C;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
  text-transform: uppercase;
}

.breadcrumbs-capital {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 14px;
  background-image: url(../img/svg/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.breadcrumbs li::after {
  content: '';
  position: absolute;
  top: 5px;
  right: -26px;
  width: 8px;
  height: 12px;
  background-image: url(../img/svg/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-title-wrapper {
  background-color: #f2f6f8;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.catalog-title-wrapper .second-level-heading {
  padding: 0;
  margin: 0;
}

.filter-navigation {
  margin-top: 20px;
  margin-bottom: 33px;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-row:first-child {
  margin-bottom: 20px;
}

.filter-left-column {
  width: 220px;
}

.filter-right-column {
  width: 700px;
}

.filter-coloured-column {
  padding-left: 19px;
  padding-right: 17px;
  padding-top: 8px;
  padding-bottom: 6px;
  background-color: #f7f3ec;
}

.filter-sorted-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filter-row h5 {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  margin-right: auto;
}

.filter-row .sort-item {
  display: inline-block;
  vertical-align: middle;
  opacity: 0.3;
  margin-right: 70px;
  border-bottom: 1px dashed #EE3643;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-row .sort-item:nth-child(4) {
  margin-right: 45px;
}

.filter-row .sort-item:hover {
  opacity: 1;
  border-bottom: 1px solid #EE3643;
}

.filter-row .sort-item:active {
  color: #EE3643;
  border: none;
  opacity: 1;
}

.filter-row .sort-item-up {
  margin-right: 20px;
}

.filter-row .sort-item-up,
.filter-row .sort-item-down {
  opacity: 0.3;
}

.filter-row .sort-item-up:hover,
.filter-row .sort-item-down:hover {
  opacity: 1;
}

.sort-item-up path:active,
.sort-item-down path:active {
  fill: #EE3643;
  opacity: 1;
}

.filter-form .filter-item {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.filter-form legend {
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item:first-child legend {
  padding-top: 0;
}

.filter-item:nth-child(2) {
  padding-bottom: 3px;
}

.filter-item:nth-child(3) {
  border-bottom: none;
}

.range-filter {
  width: 100%;
  margin-top: 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-bottom: 8px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  margin-left: 0;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 26px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 10px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
  box-sizing: content-box;
}

.range-controls .toggle-min {
  left: 16px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
}

.price-controls input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 17px;
  line-height: 18px;
  text-align: center;
  color: #000000;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price::after {
  content: '';
  position: absolute;
  top: 18px;
  left: 103px;
  width: 15px;
  height: 2px;
  background: #000000;
}

.min-price {
  margin-right: 15px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 15px;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: '';
  position: absolute;
  left: -36px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-checkbox:checked + label::after {
  content: '';
  position: absolute;
  top: 0px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input:hover + label::before,
.filter-input:focus + label::after {
  opacity: 1;
}

.filter-input:disabled + label::before,
.filter-input:disabled + label::after {
  opacity: 0.3;
}

.filter-input-radio + label::before {
  content: '';
  position: absolute;
  left: -36px;
  top: -3px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-input-radio:checked + label::after {
  content: '';
  position: absolute;
  top: -3px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.6;
}

.filter-button {
  width: 140px;
  display: inline-block;
  vertical-align: middle;
  margin-top: 32px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 240px;
  margin-bottom: 60px;
}

.pagination-item {
  display: inline-block;
  vertical-align: middle;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: 9px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  background-color: #ffffff;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-item-current {
  background-color: #ee3643;
  color: #ffffff;
}

.pagination-item-next {
  width: 140px;
  padding-right: 0;
  padding-left: 0;
}

.pagination-item:hover {
  border: 1px solid #BDC6CA;
}

.pagination-item:active {
  border: 1px solid #ee3643;
}

li:last-child .pagination-item {
  margin-right: 0;
}

.section-description-wrapper {
  background-color: #f2f6f8;
  padding-top: 40px;
  padding-bottom: 55px;
}

.seo-text .second-level-heading {
  color: #000000;
}

.seo-text p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.hidden {
  display: none;
}

.modal-wrapper {
  position: fixed;
  z-index: 777;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.8);
}

@keyframes bounce {
  from {
      top: 5%;
  }
  to {
      top: 55%;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  z-index: 888;
  animation: bounce 0.6s;
}

.write-us {
  width: 620px;
  border-top: 7px solid #EE3643;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  z-index: 5;
}

.modal-close::before,
.modal-close::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 0px;
  width: 25px;
  height: 4px;
  background-color: #EE3643;
}

.modal-close::before {
  transform: rotate(45deg);
}

.modal-close::after {
  transform: rotate(-45deg);
}

.write-us-form .modal-row:first-child {
  display: flex;
  justify-content: space-between;
}

.write-us-form .modal-item {
  width: 220px;
}

.write-us-form .modal-row:first-child {
  padding-top: 45px;
}

.write-us-form .modal-row {
  padding-left: 80px;
  padding-right: 80px;
  padding-bottom: 20px;
}

.write-us-form label {
  display: block;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 18px;
  margin-bottom: 10px;
}

.write-us-form input[type="text"],
.write-us-form input[type="email"],
.user-text {
  width: 100%;
  background: #FFFFFF;
  border: 2px solid #DEE3E4;
  border-radius: 2px;
  padding-top: 9px;
  padding-left: 16px;
  padding-bottom: 9px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  color: #A9A9A9;
  line-height: 18px;
}

.write-us-form input[type="text"]:focus,
.write-us-form input[type="email"]:focus,
.user-text:focus {
  outline: none;
  border: 2px solid #EE3643;
}

.write-us-form .user-text {
  height: 114px;
}

.write-us-form .modal-row:nth-child(2) {
  padding-bottom: 35px;
}

.write-us-form .modal-row:last-child {
  padding-top: 37px;
  padding-bottom: 37px;
  background: #F4F4F4;
}

.write-us-form .button-submit {
  width: 100%;
  border: none;
}

.modal-map {
  width: 940px;
  height: 422px;
  box-shadow: 0 20px 40px 0 rgba(0,0,0,0.75);
}

.modal-map-image iframe {
  position: relative;
  z-index: 2;
}

.modal-map-image p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
}

.modal-map-image img {
  max-width: 100%;
}

.modal-product {
  border-top: 7px solid #EE3643;
  width: 620px;
  box-shadow: 0 20px 40px 0 rgba(41,52,73,0.75);
}

.modal-product-container .added-product-title {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 80px;
  padding-right: 80px;
}

.added-product-title h2 {
  margin-left: 55px;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
  text-align: center;
}

.added-product-title h2::before {
  content: '';
  position: absolute;
  top: 45px;
  left: 80px;
  width: 66px;
  height: 66px;
  background-image: url(../img/svg/icon-mark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.modal-product-container .modal-row {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  padding-top: 45px;
  padding-bottom: 35px;
  padding-left: 80px;
  padding-right: 80px;
}

.modal-row .button-place-order,
.modal-row .button-go-shopping {
  width: 220px;
}

.modal-row .button-go-shopping {
  color: #000000;
  background-color: #ffffff;
}
