*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

p {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  line-height: 24px;
}

.reset-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.second-level-heading {
  font-size: 28px;
  color: #000000;
  line-height: 30px;
  text-transform: uppercase;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.centered-image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
}

.top-navigation-wrapper {
  background-color: #293449;
}

.top-navigation {
  display: flex;
  justify-content: space-between;
  height: 42px;
}

.navigation-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  background: #EE3643;
  box-shadow: inset 0 -5px 0 0 rgba(0,0,0,0.24);
}

.top-navigation .navigation-logo {
  height: 47px;
}

.top-navigation .navigation-logo img {
  width: 110px;
}

.navigation-logo:hover {
  background-color: #ca2c37;
}

.navigation-logo:active {
  background-color: #ba2732;
}

.search-form {
  width: 270px;
}

.search-form .search-button {
  display: none;
}

.search-form input[type="search"] {
  width: 100%;
  border: none;
  background: #293449;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 45px;
}

.search-form  input[type="search"]::placeholder {
  font-size: 17px;
  color: #FFFFFF;
  line-height: 18px;
}

.search-form input[type="search"]:focus {
    background-color: white;
}

.bookmarks-navigation {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.bookmarks-navigation .bookmarks-item {
  position: relative;
  width: 150px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 17px;
  color: #FFFFFF;
  line-height: 18px;
  text-align: center;
}

.bookmarks-navigation .button-checkout {
  display: inline-block;
  vertical-align: middle;
  background-color: #63a63e;
  color: #FFFFFF;
}

.button-bookmark, .button-cart {
  padding-left: 20px;
}

.button-bookmark::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;
  width: 14px;
  height: 16px;
  background-image: url(../img/svg/icon-bookmark.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.button-cart::before {
  content: '';
  position: absolute;
  top: 12px;
  left: 18px;
  width: 15px;
  height: 15px;
  background-image: url(../img/svg/icon-cart.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.5;
}

.button-bookmark:hover, .button-cart:hover {
  cursor: pointer;
  background-color: #212a3a;
  opacity: 1;
}

.button-bookmark:active, .button-cart:active {
  cursor: pointer;
  background: #161d29;
  opacity: 0.5;
}

.button-checkout:hover {
  background: #5FBB2D;
}

.button-checkout:active {
  background: #518534;
  opacity: 0.5;
}

.user-navigation-wrapper {
  background-color: #f4f7f9;
  padding-bottom: 60px;
}

.user-navigation  {
  display: flex;
  flex-direction: column;
}

.user-coordinates {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 45px;
  padding-bottom: 35px;
}

.navigation-item {
  width: 300px;
}

.first-level-heading {
  width: 200px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  color: #EE3643;
  line-height: 23px;
  font-style: italic;
  font-weight: normal;
}

.store-phone .header-phone {
  position: relative;
  display: inline-block;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  text-align: center;
  background: #F3F7F9;
  border: 3px solid #FFFFFF;
  font-size: 21px;
  color: #EE3643;
  line-height: 21px;
}

.header-phone::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 12px;
  width: 19px;
  height: 19px;
  background-image: url(../img/svg/icon-phone.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.store-phone p {
  font-family: 'Cuprum';
  font-size: 14px;
  margin-top: 5px;
  margin-bottom: 0;
  margin-left: 10px;
}

.user-buttons {
  display: flex;
  justify-content: space-between;
}

.button-user-item {
  display: inline-block;
  background: #ffffff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 21px;
  text-align: center;
  color: #000000;
  line-height: 21px;
}

.user-buttons .button-login {
  position: relative;
  width: 115px;
  margin-left: 20px;
  padding-left: 25px;
}

.user-buttons .button-registry {
  width: 150px;
}

.button-login::before {
  content: '';
  position: absolute;
  top: 15px;
  left: 13px;
  width: 20px;
  height: 17px;
  background-image: url(../img/svg/icon-login.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}


.button-user-item:hover {
  color: #ee3643;
}

.button-user-item:active {
  background: #ffffff;
  opacity: 0.3;
  color: #000000;
}

.user-menu {
  background: #32425C;
  box-shadow: inset 0 -5px 0 0 #293449;
}

.user-menu ul {
  display: flex;
  flex-wrap: wrap;
}

.user-menu .user-menu-item {
  display: inline-block;
  padding-top: 21px;
  padding-bottom: 21px;
  width: 134.2px;
  font-size: 17px;
  color: #FFFFFF;
  letter-spacing: 0;
  line-height: 17px;
  text-align: center;
}

.user-menu-item:hover {
  background-color: #293449;
}

.user-menu-item:active {
  background: #1d2739;
  opacity: 0.3;
}

.content-navigation {
  margin-top: 60px;
  margin-bottom: 65px;
}

.our-advantages {
  margin-bottom: 35px;
}

.advantages-row {
  display: flex;
  justify-content: space-between;
}

.advantages-slider {
  width: 620px;
}

.advantages-services {
  display: flex;
  flex-direction: column;
}

.advantages-item {
  position: relative;
  width: 300px;
  padding-top: 20px;
  padding-left: 25px;
  min-height: 122px;
  margin-bottom: 20px;
}

.sticker-new::after {
  content: '';
  position: absolute;
  top: 0px;
  left: 240px;
  width: 60px;
  height: 59px;
  background-image: url(../img/logo-new-product.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.advantages-item .advantages-title {
  font-size: 24px;
  color: #FFFFFF;
  line-height: 30px;
  font-weight: bold;
  padding: 0;
  margin-top: 0;
  margin-bottom: 10px;
}

.advantages-item .button-advantages {
  display: inline-block;
  width: 135px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  opacity: 0.1;
  background: #000000;
}

.button-advantages:hover {
  opacity: 0.2;
  background: #000000;
}

.button-advantages:active {
  opacity: 0.3;
  background: #000000;
}

.advantages-materials {
  background-color: #ffbf47;
  background-image: url(../img/svg/icon-1.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.advantages-tool {
  background-color: #3bbce3;
  background-image: url(../img/svg/icon-2.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.advantages-technics {
  background-color: #dc91d8;
  background-image: url(../img/svg/icon-3.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.advantages-discounts {
  background-color: #8ed78f;
  background-image: url(../img/svg/icon-4.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.advantages-delivery {
  background-color: #ffbf47;
  background-image: url(../img/svg/icon-5.svg);
  background-repeat: no-repeat;
  background-position: 85% 50%;
}

.popular-item-section {
  display: flex;
  justify-content: space-between;
  background: #f9f5f0;
  padding-top: 26px;
  padding-right: 25px;
  padding-bottom: 24px;
  padding-left: 30px;
}

.popular-item-section .second-level-heading {
  padding: 0;
  margin: 0;
}

.popular-item-section .button-popular {
  display: inline-block;
  width: 250px;
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 10px;
  padding-left: 0px;
  background: #EE3643;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  text-transform: uppercase;
  line-height: 18px;
}

.popular-products-row {
  margin-top: 20px;
}

.product-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 220px;
  margin-bottom: 18px;
  line-height: 20px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #ccc;
}

.product-item .flag {
  position: absolute;
  top: -1px;
  right: -1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.product-item .flag-new {
  background-image: url(../img/logo-new-product.png);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.product-item .actions {
  position: absolute;
  top: 0;
  left: 0;
  width: 216px;
  height: 88px;
  padding: 40px 0;
  background-color: rgba(255,255,255,0.9);
  z-index: 10;
}

.product-item .actions .buy,
.product-item .actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  background-color: #63a63e;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  border-radius:3px;
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.product-item .actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.product-item .actions {
  display: none;
}

.product-item:hover .actions {
  display: block;
}

.product-item .image {
  width: 218px;
  height: 168px;
}

.product-item .image img {
  max-width: 100%;
}

.product-item .title {
  font-size: 20px;
  min-height: 40px;
  padding: 0;
  margin-top: 12px;
  margin-bottom: 0px;
  text-transform: capitalize;
}


.product-item .discount {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #999;
  text-decoration: line-through;
}

.product-item .price {
  position: relative;
  margin: 10px auto;
  margin-bottom: 18px;
  padding: 10px 40px;
  font-size: 19px;
  color: white;
  background: #ee3643;
  border-radius: 3px;
}

.product-item .price:after {
  content: "";
  position: absolute;
  top: 0;
  right: -22px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.product-item .title + .price {
    margin-top: 40px;
}

.manufacturers-list {
    margin-top: 20px;
}

.manufacturers-list ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufacturer-item {
  width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
  margin-bottom: 20px;
}

.services-navigation-wrapper {
  background-color: #f4f8f9;
  padding-top: 40px;
}

.our-services-intro .second-level-heading {
  margin-bottom: 28px;
}

.our-services-intro p {
  margin: 0;
  padding: 0;
}

.our-services-tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.our-services-tabs .tabs-menu {
  width: 240px;
}

.our-services-tabs .tabs-content {
  width: 620px;
}

.tabs-menu label {
  display: block;
  width: 100%;
  font-size: 22px;
  color: #ffffff;
  line-height: 30px;
  padding-top: 13px;
  padding-left: 22px;
  padding-bottom: 18px;
  background: #32425C;
  box-shadow: 0 1px 0 0 #293449, inset 0 1px 0 0 #405069;
  cursor: pointer;
}

.tabs-menu label:hover {
  background: #293449;
}



.tab-content-title {
  font-size: 35px;
  color: #32425C;
  line-height: 36px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0;
}

.tab-button {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.tab-content-text {
  margin-top: 0;
  margin-bottom: 0;
}

.tab-content-item {
  display: none;
  height: 282px;
}

.tab-content-item:nth-child(1) {
  background-image: url(../img/our-services-01-delivery.png);
  background-repeat: no-repeat;
  background-position: 150px 0px;
}

.tab-content-item:nth-child(2) {
  background-image: url(../img/our-services-02-guarantee.png);
  background-repeat: no-repeat;
  background-position: 230px 0px;
}

.tab-content-item:nth-child(3) {
  background-image: url(../img/our-services-03-loan.png);
  background-repeat: no-repeat;
  background-position: 155px 0px;
}

.button-tab {
  width: 195px;
  margin-top: 30px;
}

#service-1:checked ~ .tabs-content .tab-content-item:nth-child(1) {
  display: block;
}

#service-2:checked ~ .tabs-content .tab-content-item:nth-child(2) {
  display: block;
}

#service-3:checked ~ .tabs-content .tab-content-item:nth-child(3) {
  display: block;
}

#service-1:checked ~ .tabs-menu .slider-service-item--1.active,
#service-2:checked ~ .tabs-menu .slider-service-item--2.active,
#service-3:checked ~ .tabs-menu .slider-service-item--3.active {
  background: #ffffff;
  color: #32425C;
  box-shadow: 0 1px 0 0 #FFFFFF;
}

.company-info {
  display: flex;
  justify-content: space-between;
  margin-top: 55px;
  margin-bottom: 85px;
}

.company-info .company-about {
  width: 560px;
  min-height: 370px;
}

.company-info .company-contacts {
  width: 300px;
  min-height: 370px;
}

.button-company {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #FFFFFF;
  text-align: center;
  line-height: 18px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.company-about p {
  margin-bottom: 25px;
}

.company-features  {
  margin-bottom: 35px;
}

.company-features li {
  position: relative;
  font-size: 18px;
  color: #000000;
  line-height: 19px;
  margin-bottom: 20px;
}



.company-map {
  margin-top: 35px;
  margin-bottom: 30px;
}

.button-about-company {
  width: 220px;
}

.button-write-us {
  width: 300px;
}

.main-footer {
  font-family: Cuprum;
}


.footer-navigation-wrapper {
  background-color: #32425c;
  padding-bottom: 48px;
}

.footer-first-row {
  display: flex;
  justify-content: space-between;
}

.footer-second-row {
  display: flex;
  justify-content: space-between;
}

.footer-first-row .navigation-logo {
  height: 69px;
}

.footer-first-row .navigation-logo img {
  width: 137px;
}

.footer-menu {
  width: 550px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.footer-navigation .footer-menu-item {
  display: inline-block;
  font-size: 18px;
  line-height: 24px;
}

.footer-first-row .footer-menu-item {
  color: #F1F5F7;
  padding-top: 37px;
  padding-right: 59px;
}

.footer-menu li:last-child .footer-menu-item {
  padding-right: 0;
}

.footer-second-row .footer-menu-item  {
  padding-right: 40px;
  padding-left: 20px;
  color: #FFD180;

}

.footer-address {
  width: 380px;
}

.footer-phone, .footer-coordinates {
  font-size: 18px;
  color: #F3F7F9;
}

.footer-coordinates {
  margin-top: 28px;
  margin-bottom: 0;
}

.footer-menu-item:hover {
  text-decoration: underline;
}

.footer-menu-item:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-social-wrapper {
  background-color: #293449;
  padding-top: 20px;
  padding-bottom: 0;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social p {
  font-size: 16px;
  color: #FFFFFF;
  line-height: 18px;
}

.footer-social a {
  color: #ffd180;
}

.footer-copyright {
  width: 230px;
}

.footer-social-links {
  width: 150px;
  text-align: center;
}

.footer-social-links ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 141px;
  margin: 0 auto;
}

.social-button {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #212A3A;
}

.social-button:hover,
.social-button:focus {
  background-color: #ffffff;
}

.social-button:hover,
.social-button:focus {
  background-color: #ee3643;
}

.footer-feedback {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.footer-feedback p:first-child {
  width: 150px;
}

.footer-feedback p:last-child {
  width: 115px;
}

.footer-feedback a:hover {
  text-decoration: underline;
}

.footer-feedback a:active {
  text-decoration: none;
  color: #ee3643;
}

.user-name {
  font-size: 21px;
  color: #000000;
  line-height: 21px;
}

.user-account a {
  font-size: 16px;
  color: #32425C;
  line-height: 18px;
  text-decoration: underline;
}

.breadcrumbs {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding-top: 18px;
  padding-bottom: 18px;
}

.breadcrumbs li {
  position: relative;
  margin-right: 40px;
}

.breadcrumbs li:last-child {
  margin-right: 0;
  text-transform: uppercase;
}

.breadcrumbs li:first-child a {
  display: inline-block;
  vertical-align: middle;
  width: 14px;
  height: 12px;
  background-image: url(../img/svg/icon-home.svg);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 5px;
  right: -26px;
  width: 8px;
  height: 12px;
  background-image: url(../img/svg/icon-right-small.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.breadcrumbs a {
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
  text-decoration: underline;
}

.breadcrumbs-current::after {
  display: none;
}

.catalog-title-wrapper {
  background-color: #f2f6f8;
  padding-top: 28px;
  padding-bottom: 30px;
  padding-left: 30px;
}

.catalog-title-wrapper .second-level-heading {
  padding: 0;
  margin: 0;
}

.filter-navigation {
  margin-top: 20px;
  margin-bottom: 33px;
}

.filter-row {
  display: flex;
  justify-content: space-between;
}

.filter-sort-row {
  align-items: center;
  margin-bottom: 20px;
}

.filter-left-column {
  width: 220px;
}

.filter-right-column {
  width: 700px;
}

.filter-sort-color {
  background-color: #f7f3ec;
}

.filter-sorting-column {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-sorting-column .filter-title {
  width: 240px;
}

.filter-row h5 {
  margin-left: 19px;
  font-family: PT Sans;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  padding: 0;
  margin-top: 8px;
  margin-bottom: 6px;
}

.filter-sort-row .sort-item {
  display: inline-block;
  opacity: 0.3;
  border-bottom: 1px dashed #EE3643;
  margin-right: 65px;
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-filters-items a:nth-child(3) {
  margin-right: 40px;
}

.filter-sort-row .sort-item:hover {
  opacity: 1;
  border-bottom: 1px solid #EE3643;
}

.filter-sort-row .sort-item:active {
  color: #EE3643;
  border: none;
}

.filter-sort-row .sort-item-up {
  margin-right: 20px;
}

.sort-item-up, .sort-item-down {
  opacity: 0.3;
}

.sort-item-up:hover, .sort-item-down:hover {
  opacity: 1;
}

.sort-item-up path:active, .sort-item-down path:active {
  fill: #EE3643;
}

.filter-item {
  border: none;
  padding: 0;
  margin: 0;
  border-bottom: 1px solid #ccc;
  padding-bottom: 25px;
}

.filter-item legend {
  padding-top: 25px;
  padding-bottom: 20px;
  font-family: PT Sans;
  font-size: 17px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.filter-item:first-child legend {
  padding-top: 0;
}

.filter-item:nth-child(2) {
  padding-bottom: 0px;
}

.filter-item:nth-child(3) {
  border-bottom: none;
}

.range-filter {
  width: 100%;
  margin-top: 20px;
}

.range-controls {
  position: relative;
  height: 80px;
  margin-top: 20px;
  margin-bottom: 8px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 85%;
  height: 2px;
  margin-left: 0;
  background: #00ca74;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 6px;
  height: 6px;
  padding: 0;
  border: 10px solid #ffffff;
  background-color: #ababab;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  border-radius: 50%;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 20px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  font-size: 0;
}

.price-controls label {
  position: relative;
  display: inline-block;
  font-size: 16px;
}

.price-controls input {
  width: 95px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: PT Sans;
  font-size: 16px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
}

.min-price::after {
  content: "-";
  position: absolute;
  top: 8px;
  right: 2px;
  width: 0px;
  height: 0px;
  color: #000;
}

.min-price {
  margin-right: 15px;
}

.filter-option {
  margin-bottom: 20px;
  padding-left: 35px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
  font-family: PT Sans;
  font-size: 15px;
  color: #000000;
  line-height: 20px;
  text-transform: uppercase;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -36px;
  width: 27px;
  height: 23px;
  background-image: url(../img/svg/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  left: -36px;
  top: 0;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0px;
  left: -36px;
  width: 25px;
  height: 25px;
  background-image: url(../img/svg/radio-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-button {
  width: 140px;
  display: inline-block;
  margin-top: 35px;
  padding-top: 9px;
  padding-bottom: 9px;
  font-family: PT Sans;
  font-size: 13px;
  text-align: center;
  line-height: 18px;
  color: #000000;
  vertical-align: middle;
  text-transform: uppercase;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  cursor: pointer;
}

.pagination-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: 240px;
  margin-bottom: 60px;
}

.pagination-list .pagination-item  {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 15px;
  margin-right: 8px;
  font-family: PT Sans;
  font-size: 13px;
  color: #000000;
  background-color: #ffffff;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 2px;
  text-transform: uppercase;
  text-align: center;
}

.pagination-item-current {
  background-color: #ee3643 !important;
  color: #ffffff !important;
}

.pagination-item-next {
  width: 140px;
  padding-right: 0;
  padding-left: 0;
}

.pagination-list li:last-child .pagination-item {
  margin-right: 0;
}

.section-description-wrapper {
  background-color: #f2f6f8;
  padding-top: 40px;
  padding-bottom: 55px;
}

aside .second-level-heading {
  font-size: 29px;
}
